#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 40px;
    width: 50%;
    min-width: 300px;
    /* box-shadow: 0px 2px 2px rgba(10,16,20,.24),0 0 2px rgba(10,16,20,.12); */
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
}

@media (max-width: 600px) {
    #regForm {
        background-color: #ffffff;
        margin: 100px auto;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 40px;
        width: 90%;
        min-width: 300px;
        /* box-shadow: 0px 2px 2px rgba(10,16,20,.24),0 0 2px rgba(10,16,20,.12); */
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
        border-radius: 4px;
    }
}

.form-success {
    border-color: #129512;
}

@media screen and (max-width: 800px) {
    #regForm {
        background-color: #ffffff;
        margin: 100px auto;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 40px;
        width: 90%;
        min-width: 300px;
        /* box-shadow: 0px 2px 2px rgba(10,16,20,.24),0 0 2px rgba(10,16,20,.12); */
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
        border-radius: 4px;
    }
}

#InternFinalForm {
    background-color: #ffffff;
    margin: 100px auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 40px;
    width: 95%;
    min-width: 300px;
    /* box-shadow: 0px 2px 2px rgba(10,16,20,.24),0 0 2px rgba(10,16,20,.12); */
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
}

.internship-container {
    background-color: transparent;
}

.custom-select {
    border: 1px solid #ced4da;
}

.h1,
h2,
h3 {
    text-align: center;
}

h1 {
    text-align: center;
}

h3 {
    font-family: newsgoth BT;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}

input.invalid {
    background-color: #ffdddd;
}

#tab2,
#tab2-error,
#tab3,
#tab3-error,
#tab4,
#tab4-error,
#tab5,
#tab5-error,
#tab6 {
    display: none;
}

button {
    background-color: #DA5827;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
    border-radius: 25px;
}

button:hover {
    opacity: 0.8;
}

button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

.step.finish {
    background-color: #DA5827;
}

.form-control::placeholder {
    font-style: italic;
    color: grey;
}