.navbar {
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 0;
    -moz-hyphens: auto;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #202124;
    text-align: center;
    /* background-color: #19202b; */
    background-color: #171f2a;
    padding: 0px;
    font-weight: 400;
    color: #6418a2;
    /* font-family: 'Segoe UI', SegoeUI, 'Segoe WP', Tahoma, Arial, sans-serif; */
    /* font-family: newsgoth BT; */
    /*opacity: 0.7;
height:71px;
position: absolute;*/
}

.navbar-brand {
    height: 64px;
    padding-right: 20px;
}

.navbar-brand-img {
    display: block;
    height: 44px;
    width: 105px;
    margin-left: 20px;
    margin-top: 5px;
}

.nav-link {
    margin-top: 17px;
    width: 100%;
    color: White;
}

.nav-link:hover {
    color: #fa7817;
}

.nav-link-right {
    padding: 0px;
}


/* 
.navbar-expand-lg .navbar-nav .nav-link {
padding-left: 20px;
} */

.nav-link-header {
    border-bottom: 2px solid transparent;
    letter-spacing: 1px;
}

.fas {
    line-height: 0;
}


/* 
.nav-link-header:hover {
border-bottom: 2px solid #DA5827;
transition: ease-out;
transform-origin: center;
} */


/* .nav-link-header:hover{
background-color: #555551;
}*/

.btn {
    color: white;
}

.navbtn {
    color: white;
    font-size: 17px;
    border-radius: 25px;
    border-color: #171f2a;
    background-color: White;
}

.nav-right {
    margin: 11px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='Black' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border-color: white;
    border-block-width: 2.5px;
    border: 1px;
}

.dropdown-menu {
    width: 11.5rem;
}

.dropdown-item {
    line-height: 1.5;
}

.navbar-expand-lg .navbar-nav .dropdown-menu-right {
    right: 0;
    left: auto;
    width: 185px;
}

@media (max-width: 600px) {
    .navbar-expand-lg .navbar-nav .dropdown-menu-right {
        right: 0;
        left: auto;
        width: 100%;
    }
}

.navbar-icon1 {
    position: relative;
    font-size: 29px;
    color: White;
    width: 80px;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    text-align: left;
    -webkit-perspective: 50em;
    perspective: 50em;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar-icon1:hover {
    color: #fa7817;
    text-decoration: none;
}

.fa-clipboard-list {
    margin-right: 4px;
    padding-left: 2px;
}

.thick1 {
    border: 0;
    height: 3px;
    background-image: linear-gradient(90deg, #ff8a00, #e52e71);
    width: 100%;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.thick {
    border: 0;
    height: 4px;
    background-image: linear-gradient(90deg, #ff8a00, #e52e71);
    border-radius: 5px;
    width: 83%;
    margin-top: 0rem;
}