.dashboard-card {
    min-height: 31.3rem;
}

.profile-tab {
    border: 1px solid #dee2e6;
    border-top-color: white;
}

.tab-edit-btn {
    color: #fff;
    background-color: #171f2a;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #171f2a;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.dashboard-card-body {
    padding-top: 0px;
}

.right-card {
    min-height: 129.5px;
}

a {
    text-decoration: none;
    display: inline-table;
}

.padrightzero {
    padding-right: 0;
}

.padleftzero {
    padding-left: 0;
}


/* new admin dash layout */

.sidenav-wrapper {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 20%;
    float: left;
    transition: 0.5s;
    overflow-x: hidden;
    background-color: #171f2a;
}

.sidenav-fixed {
    height: 35.1rem;
    overflow-y: scroll;
    background-color: #171f2a;
}

.sidenav-fixed a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 6px;
    color: White;
    font-size: 15px;
    font-family: 'Raleway';
    font-weight: 400;
    position: relative;
    -webkit-transition: all 90ms linear;
    transition: all 90ms linear;
}

.sidenav-fixed a:hover {
    background: rgba(56, 136, 255, .05);
}

.sidenav-remaining {
    background-color: #171f2a;
    /* flex-grow: 1; */
    height: 282px;
}

ul.sidenav-item {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.sidenav-item li {
    margin-left: 30px;
    padding: 0;
}

@media only screen and (max-width: 1920px) {
    .open-icon {
        font-size: 20px;
        cursor: pointer;
        height: 10px;
        display: none;
    }
    .close-icon {
        font-size: 20px;
        cursor: pointer;
        height: 10px;
        display: inline-block;
    }
    .m-open-icon {
        display: none;
    }
    .m-close-icon {
        display: none;
    }
    .content-wrapper {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .open-icon {
        display: none;
    }
    .close-icon {
        display: none;
    }
    .m-open-icon {
        font-size: 20px;
        cursor: pointer;
        height: 10px;
        display: inline-block;
    }
    .m-close-icon {
        color: White;
        font-size: 20px;
        cursor: pointer;
        height: 10px;
        display: none;
    }
    .content-wrapper {
        width: 100%;
    }
    .sidenav-wrapper {
        display: none;
    }
}

.m-sidenav-wrapper {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 0%;
    min-width: 0%;
    float: left;
    transition: 0.5s;
    overflow-x: hidden;
    background-color: #171f2a;
}

.m-sidenav-fixed {
    height: 100%;
    overflow-y: scroll;
    background-color: #171f2a;
}

.m-sidenav-fixed a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 6px;
    color: White;
    font-size: 15px;
    font-family: 'Raleway';
    font-weight: 400;
    position: relative;
    -webkit-transition: all 90ms linear;
    transition: all 90ms linear;
}

.m-sidenav-fixed a:hover {
    background: rgba(56, 136, 255, .05);
}

.m-sidenav-remaining {
    background-color: #171f2a;
    flex-grow: 1;
}

ul.m-sidenav-item {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.m-sidenav-item li {
    margin-left: 30px;
    padding: 0;
}